extends layout

block content
  h1= title
  form(method="POST" action="/new")
    label(for="author") Author's Name:
    input(type="text", id="author", name="author")

    label(for="message") Message:
    input(type="text", id="message", name="message")

    input(type="submit", value="Submit")
